<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Service Selection</title>
</head>
<body>
    <%- include('../partials/logobar.ejs') %>

    <h2>Service Selection</h2>
    <div>
    <a href="/nails/new/manicure">Manicure</a>
    <a href="/nails/new/pedicure">Pedicure</a>
    <br>

    <a href="/nails/new/paint-change">Paint Change</a> 
    <a href="/nails/new/full-set">Full Set</a>
    <br>
    
    <a href="/nails/new/ombre">Ombre</a>
    <a href="/nails/new/dip">Dip</a>
    </div>

</body>
</html>