<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Selection</title>
</head>
<body>
    <%- include('../partials/logobar.ejs') %>

    <h1>Service Selection</h1>
    <div>
    <a href="/nails/new/manicure">Manicure</a>
    <a href="/nails/new/pedicure">Pedicure</a>
    <br>

    <a href="/nails/new/paint-change">Paint Change</a> 
    <a href="/nails/new/full-set">Full Set</a>
    <br>
    
    <a href="/nails/new/ombre">Ombre</a>
    <a href="/nails/new/dip">Dip</a>
    </div>

</body>
</html>