<!DOCTYPE html>
<html lang="en">

<head>
    <title>🔮 Service Selection</title>
</head>

<body class="nails-new">
    <%- include('../partials/logobar.ejs') %>
        <div class="container">

            <div class="row">
                <div class="col">
                    <h1>Service Selection</h1>
                    <p>Click on a service to create your appointment.</p>
                </div>
            </div>

            <div class="col">
                <div id="pic1" class="nailpic"><a href="/nails/new/manicure">Manicure</a></div>
                <div id="pic2" class="nailpic"><a href="/nails/new/pedicure">Pedicure</a></div>
                <div id="pic3" class="nailpic"><a href="/nails/new/paint-change">Paint Change</a></div>
                <div id="pic4" class="nailpic"><a href="/nails/new/full-set">Full Set</a></div>
                <div id="pic5" class="nailpic"><a href="/nails/new/ombre">Ombre</a></div>
                <div id="pic6" class="nailpic"><a href="/nails/new/dip">Dip</a></div>
            </div>

        </div>
</body>

</html>