<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
</head>
<body class="index">
    <%- include('./partials/logobar.ejs') %>
    <h1>Welcome to Nails R Us </h1>

    <nav>
        <a href="/nails/new">Book Appointment</a>
    </nav>

    

</body>
</html>