<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
</head>
<body class="index">
    <%- include('./partials/logobar.ejs') %>
    <h1>Welcome to Nails R Us </h1>

    <nav>
        <div id="book-appointment" class="nailpic"><a href="/nails/new">Book Appointment</a></div>
    </nav>

</body>
</html>