<!DOCTYPE html>
<html lang="en">
<head>
    <title>🔮 Home Page</title>
</head>
<body class="index">
    <%- include('./partials/logobar.ejs') %>
    <div>
        <div id="book-appointment" class="nailpic"><a href="/nails/new">Book Appointment</a></div>
    </div>

<!-- Image Carousel  -->

</body>
</html>